@use "../variables/mixins" as *;

.header-location {
  display: none;
  @include mq(tablet) {
    display: block;
    position: absolute;
    top: 13.4rem;
    left: -15.8rem;
    display: flex;
    align-items: center;
    gap: 4.8rem;
    rotate: (90deg);
    width: 40.3rem;

    &-border {
      border-bottom: 1px solid #c8ccd8;
      width: 10.4rem;
    }

    &-text {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 1.8rem;
      color: #c8ccd8;
    }
  }

  @include mq(desktop) {
    left: -21.8rem;
  }
}
