@use "../variables/mixins" as *;

// Hero part
.contact-hero {
  &-word {
    position: relative;
    top: -9rem;
    right: 3.5rem;

    @include mq(laptop) {
      right: 20rem;
    }
  }

  &-content {
    position: relative;

    @include mq(tablet) {
      margin: 0 9.8rem 0 9.7rem;
    }

    @include mq(laptop) {
      display: flex;
    }

    @include mq(desktop) {
      margin: 0;
    }

    &-img {
      position: relative;

      picture {
        @include mask-image;
      }
    }

    .rectangle {
      background-color: #ffffff;
      position: relative;
      top: -4rem;
      width: 91.46%;
      height: 4.5rem;
      z-index: 2;

      @include mq(tablet) {
        display: none;
      }
    }

    &-infos {
      margin: -2rem 3.2rem 0 3.2rem;
      z-index: 2;

      @include mq(tablet) {
        background-color: #ffffff;
        position: absolute;
        margin: -1px;
        bottom: 0;
        left: 5.8rem;
        height: 43.1rem;
      }

      @include mq(laptop) {
        height: 44rem;
        left: 23rem;
      }

      @include mq(desktop) {
        height: 50.3rem;
        left: 47.5rem;
      }

      &-background {
        @include mq(tablet) {
          margin-left: 6rem;
        }

        @include mq(laptop) {
          margin-left: 0;
        }
      }

      &-text {
        @include mq(laptop) {
          width: 44.6rem;
          margin: 0 16.5rem 0 17.2rem;
        }
      }

      p {
        margin-top: 2.1rem;

        @include mq(tablet) {
          margin-top: 3.8rem;
          width: 45.5rem;
        }

        @include mq(desktop) {
          margin-top: 4.9rem;
        }
      }
    }
  }
}

// Contact Details part
.details {
  margin-top: 10rem;

  @include mq(tablet) {
    margin-top: 20rem;
  }

  @include mq(laptop) {
    margin-top: 27.9rem;
  }

  &-border {
    margin-bottom: 6.8rem;

    @include mq(tablet) {
      margin-bottom: 4.9rem;
    }

    @include mq(laptop) {
      margin-bottom: 7.3rem;
    }
  }

  &-title {
    @include mq(laptop) {
      margin-top: -7.9rem;
    }
  }

  &-container {
    @include mq(laptop) {
      display: flex;
      gap: 3rem;

      h2 {
        width: 35rem;
      }
    }
  }

  &-content {
    margin-top: 4rem;

    @include mq(tablet) {
      margin-top: 4.2rem;
    }

    @include mq(laptop) {
      margin-top: 0;
      display: flex;
      gap: 3rem;
    }

    &-text {
      @include mq(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      @include mq(laptop) {
        display: block;
      }

      &-infos {
        @include mq(laptop) {
          width: 25rem;
        }

        @include mq(desktop) {
          width: 35rem;
        }

        &-title {
          @include mq(laptop) {
            margin-top: 0;
          }
        }
      }

      &-button {
        display: flex;
        gap: 2.4rem;
        align-items: center;
        margin-top: 4.3rem;

        @include mq(laptop) {
          margin-top: 5.9rem;
        }

        p {
          font-weight: 700;
        }

        img {
          width: fit-content;
        }
      }
    }
  }
}
