@use '../variables/mixins' as *;

// == Hero Part for the HomePage
.home-hero {
  &-content {
    &-text {
      display: none;
    }
  }
}

// == Welcome section 
.welcome {
  margin-top: 7.2rem;

  @include mq(tablet) {
    margin-top: 8.9rem;
  }

  @include mq(laptop) {
    margin-top: 10.8rem;
    position: relative;
  }

  &-content {

    h2 {
      @include mq(tablet) {
        margin-top: -4.1rem;
        width: 44.6rem;
      }
    }

    &-text {
      margin-top: 2.2rem;
      color: #60636D;

      @include mq(tablet) {
        margin-top: 4.3rem;
      }

      @include mq(laptop) {
        display: flex;
        gap: 12.5rem;
      }

      @include mq(desktop) {
        margin-left: 19.9rem;
      }

      &-img {
        display: none;

        @include mq(laptop) {
          display: block;
          margin-top: -13.5rem;
        }
      }
    }
  }

  // == Design part for the welcome section
  &-word {
    display: none;

    @include mq(tablet) {
      display: block;
      font-size: 15rem;
      line-height: 20rem;
      font-weight: 700;
      letter-spacing: -3px;
      color: #EEEFF4;
    }

    @include mq(laptop) {
      font-size: 25rem;
      line-height: 20rem;
      letter-spacing: -5px;
    }
  }

  &-border {
    border: 1px solid #C8CCD8;
    width: 6.5rem;
    margin-bottom: 6.7rem;

    @include mq(tablet) {
      display: none;
    }
  }
}

// == Infos section
.infos {
  margin-top: 11.3rem;

  @include mq(tablet) {
    margin: 23.3rem 9.8rem 0 9.7rem;
  }

  @include mq(desktop) {
    margin: auto;
    margin-top: 20rem;
  }

  &-content {
    position: relative;

    &-img {
      @include mask-image;
    }

    &-text {
      position: absolute;
      top: 55.53%;
      transform: translate(0, -55.53%);
      margin-left: 3.2rem;
      z-index: 2;
      
      @include mq(tablet) {
        margin-left: 5.8rem;
      }
      
      @include mq(laptop) {
        margin-left: 19rem;
      }
      
      @include mq(laptop) {
        transform: translate(0, -64.53%);
      }
      h3 {
        color: #FFFFFF;
      }

      &-button {
        width: 18.7rem;
        padding-left: 3.5rem;
        margin-top: 2.3rem;

        @include mq(laptop) {
          margin-top: 2.7rem;
        }
      }
    }
  }
}

// == Featured section
.featured {
  margin-top: 7.3rem;

  @include mq(tablet) {
    margin-top: 10rem;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include mq(tablet) {
      margin-top: -0.5rem;
    }

    @include mq(laptop) {
      flex-direction: row;
      margin-top: -2rem;
      gap: 3rem;
    }
  }

  &-button {
    display: none;

    @include mq(tablet) {
      display: flex;
      justify-content: center;
      width: 16.9rem;
    }

    &-bottom {
      display: flex;
      justify-content: center;
      margin-top: 2.4rem;

      @include mq(tablet) {
        display: none;
      }
    }
  }
}